@page "/about"

<div class="about-page">
    <img src="images/danny-photo.png" />
    <div>
        <p>
            My name is Danny van der Biezen. I'm a @GetAge() year old guy from The Netherlands; currently based in Auckland, New Zealand with plans to move to the United Kingdom in the near future!
        </p>
        <p>
            I'm a software engineer working mostly with .NET and JavaScript/TypeScript these days. I use my extensive knowledge about DevOps practices to get my team as productive as possible.
        </p>
        <p>
            I love following and contributing to open-source projects, with my main focus being on .NET Core, Aurelia and React. In the future I might start streaming while working on open-source projects
        </p>
        <p>
            Besides programming, I love watching Netflix, travelling and wasting time playing video games I will never be good at :(.
        </p>
        <p>
            You can <a href="mailto:danny_bies@live.nl">email</a> me if you want to discuss anything related to programming, or anything else really :)
        </p>
    </div>
</div>


@code {
    int GetAge()
    {
        int now = int.Parse(DateTime.Now.ToString("yyyyMMdd"));
        int dob = int.Parse(new DateTime(1995,1,11).ToString("yyyyMMdd"));
        return (now - dob) / 10000;
    }
}