@page "/blog/{BlogId}"
@using System.Net.Http
@inject HttpClient Http

@if(_blog != null)
{
    <article class="blog-detail">
        <h1 class="blog-header-title">@_blog.Title</h1>

        @((MarkupString)_blog.Content)
    </article>
}

@code {
    [Parameter]
    public string BlogId { get; set; }

    private BiesBlogBlazor.Shared.Entities.BlogPost _blog;

    protected override async Task OnInitializedAsync()
    {
        _blog = await Http.GetJsonAsync<BiesBlogBlazor.Shared.Entities.BlogPost>("api/blogs/" + BlogId);
    }
}