@page "/"
@using System.Net.Http
@using Microsoft.AspNetCore.SignalR.Client
@inject HttpClient Http
@inject NavigationManager NavigationManager

@foreach (var blog in _blogs)
{
    <article class="blog-link">
        <h1><a href="blog/@blog.Id">@blog.Title</a></h1>
        @((MarkupString)blog.Description)
    </article>
}

@code {
    private HubConnection _hubConnection;
    private List<BiesBlogBlazor.Shared.Entities.Blog> _blogs = new List<BiesBlogBlazor.Shared.Entities.Blog>();

    protected override async Task OnInitializedAsync()
    {
        _blogs = await Http.GetJsonAsync<List<BiesBlogBlazor.Shared.Entities.Blog>>("api/blogs");

        _hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/blogHub"))
            .Build();

        _hubConnection.On("BlogCreated", (BiesBlogBlazor.Shared.Entities.Blog blog) =>
        {
            _blogs.Add(blog);
            StateHasChanged();
        });

        await _hubConnection.StartAsync();
    }
}