@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager

@foreach (var blogPost in _blogPosts)
{
    <article>
        <h1><a href="blog/@blogPost.Id">@blogPost.Title</a></h1>
        @blogPost.Description
    </article>
}
@code {
    private HubConnection _hubConnection;
    private List<BiesBlogBlazor.Shared.Entities.BlogPost> _blogPosts = new List<BiesBlogBlazor.Shared.Entities.BlogPost>();

    protected override async Task OnInitializedAsync()
    {
        _hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/blogHub"))
            .Build();

        _hubConnection.On("BlogPostCreated", (BiesBlogBlazor.Shared.Entities.BlogPost blogPost) =>
        {
            _blogPosts.Add(blogPost);
            StateHasChanged();
        });

        await _hubConnection.StartAsync();
    }
}